$sky: #3b61ec;

#dev-container{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  h1{
    text-align: center;
    margin-bottom: 1.5rem;
    span{
      color: #5ea1fb;
    }
  }
}

.project-text-img-split{
  display: flex;
  margin: 2rem 0;
  .split-left{
    width: 50%;
    padding-right: 2.5rem;
    p{
      line-height: 2rem;
    }
  }
  img{
    width: 50%;
    height: 100%;
  }
}
.dev-btn{
  width: 30%;
  margin-left:35%;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: white;
}
.dev-btn:hover {
  background-color: $sky;
  border-color: $sky;
  cursor: pointer;
}
