$sky: #3b61ec;

#dev-container{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  h1{
    text-align: center;
    margin-bottom: 1.5rem;
    span{
      color: #5ea1fb;
    }
  }
}

.project-text-img-split{
  display: flex;
  margin: 2rem 0;
  @media (max-width: 1023px){
    margin: 2rem 0 1rem 0;
  }
  @media (max-width: 767px){
    display: block;
  }
  .split-left{
    width: 50%;
    padding-right: 2.5rem;
    @media (max-width: 767px){
      width: 100%;
    }
    p{
      line-height: 2rem;
      @media (max-width: 1200px){
        line-height: 1.3rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
      @media (max-width: 767px){
        letter-spacing: 0.05rem;
        font-size: 0.8rem;
      }
    }
  }
  img{
    width: 50%;
    height: 100%;
    @media (max-width: 767px){
      width: 100%;
      padding-top: 1rem;
    }
  }
}
.dev-btn{
  width: 30%;
  margin-left:35%;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  @media (max-width: 1023px){
    font-size: 0.8rem;
  }
  @media (max-width: 480px){
    width: 35%;
    padding: 0.8rem;
  }
}
.dev-btn:hover {
  background-color: $sky;
  border-color: $sky;
  cursor: pointer;
}
