$salmon: #f16029;
#nav{
  .active{
    border-bottom: 1px solid $salmon;
  }
  position: fixed;
  width: 15%;
  height: 100vh;
  background-color: #0a1125;
  #nav-logo {
    text-align: center;
    width: 50%;
    padding-top: 5rem;
    margin-left: 25%;
  }
}
#nav-links{
  color: white;
  list-style: none;
  padding-right: 3rem;
  text-align: right;
  li{
    padding-top: 1rem;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
#nav-icons{
  display: flex;
  margin: 0 auto;
  width: 65%;
  justify-content: space-evenly;
  margin-top: 5rem;
  .nav-icon{
    margin: 0 1px;
  }
  img{
    background-color: white;
    border-radius: 50%;
  }
  #cv{
    border-radius: 50%;
    border: 0.5px solid white;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
  }
}