#ux-container{
  color: rgb(235, 235, 235);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 21, 47, 0.7)), to(rgba(0, 0, 0, 0.9))), url('/assets/postit.png');
  background-image: linear-gradient(rgba(26, 21, 47, 0.7), rgba(0, 0, 0, 0.9)), url('/assets/postit.png');   
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  h1{
    text-align: center;
    margin-bottom: 1.5rem;
    span{
      color: #f85f5f;
    }
  }
}
// .ux-img-container{
//   position: relative;
//   img{
//     width: 100%;
//   }
// }
  // .overlay {
  //   position: absolute;
  //   display: none;
  //   top: 0;
  //   left: 0;
  //   z-index: 2;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0);
  //   transition: background 0.5s ease;
  // }
//   .ux-hero-button{
//     // position: absolute;
//     // top: 45%;
//     // left: 40%;
//     // z-index: 2;
//     // opacity: 0;
//     width: 20%;
//     padding: 1rem;
//     border: 1px solid white;
//     text-align: center;
//     transition: opacity .35s ease;
//     color: white;
//     margin: 3% auto;
//   }
//   .ux-hero-button:hover {
//     background-color: $salmon;
//     border: 1px solid $salmon;
//   }
// }
// .ux-img-container:hover {
//   .overlay{
//     display: block;
//     background-color: rgba(0, 0, 0, 0.548);
//   }
//   .ux-hero-button{
//     opacity: 1;
//   }
// }