//NAVBAR
body{
  font-family: "Avenir Next";
  margin:0;
  height: 100%;
  h1{margin:0};
  h2{margin:0};
  h3{margin:0};
}
#whole-view{
  display: flex;
}
#nav{
  position: fixed;
  width: 15%;
  height: 100vh;
  background-color: #0a1125;
  #nav-logo {
    text-align: center;
    width: 50%;
    padding-top: 5rem;
    margin-left: 25%;
  }
  #nav-links{
    color: white;
    list-style: none;
    padding-right: 3rem;
    text-align: right;
    li{
      padding-top: 1rem;
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }
  #nav-icons{
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-evenly;
    .nav-icon{
      margin: 0 1px;
    }
    img{
      background-color: white;
      border-radius: 50%;
    }
    #cv{
      border-radius: 50%;
      border: 0.5px solid white;
      color: white;
      width: 25px;
      height: 25px;
      text-align: center;
    }
  }
}

.components{
  padding-top: 6rem;
  margin-left: 15%;
  padding-left: 5rem;
  padding-right: 7rem;
  
  // height: 100vh;
  .project-container{
    padding-bottom: 5rem;
  }
  .project-header{
    h2{
      color: #ffd088;
      font-family: 'Arvo', serif;
      border-bottom: 1px solid #f16029;
      width: 30%;
      padding-bottom: 0.5rem;
    }
    p{

    }
    img{
      width: 100%;
    }
  }
  
  .project-double-img{
    display: flex;
    img{
      width: 45%;
      height: 100%;
      padding: 0 2.5%;
    }
  }
  .project-text-img-split{
    display: flex;
    margin-top: 2rem;
    .split-left{
      width: 50%;
      padding-right: 2.5rem;
      p{

      }
      button{
        width: 50%;
        padding: 1rem;
        font-size: 1.1rem;
      }
    }
    img{
      width: 50%;
      height: 100%;
    }
  }
}
#contact-container{
  height: 90vh;
  h1{
    text-align: center;
    margin-bottom: 1.5rem;
    span{
      color: blue;
    }
  }
  h3{
    text-align: center;
    margin-bottom: 3rem;
  }
}
#dev-container{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  h1{
    text-align: center;
    margin-bottom: 1.5rem;
    span{
      color: #5ea1fb;
    }
  }
}
#ux-container{
  color: rgb(235, 235, 235);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 21, 47, 0.7)), to(rgba(0, 0, 0, 0.9))), url('/assets/postit.png');
  background-image: linear-gradient(rgba(26, 21, 47, 0.7), rgba(0, 0, 0, 0.9)), url('/assets/postit.png');   
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  h1{
    text-align: center;
    margin-bottom: 1.5rem;
    span{
      color: #f85f5f;
    }
  }
}
.ux-img-container{
  position: relative;
  img{

  }
  .overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .ux-hero-button{
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 2;
    width: 20%;
    padding: 1rem;
    border: 3px solid white;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    color: white;
  }
  .ux-hero-button:hover {
    background-color: orange;
    border: 3px solid orange;
    color: black;
  }
}
.ux-img-container:hover {
  .overlay{
    display: block;
    background-color: rgba(0, 0, 0, 0.548);
  }
  .ux-hero-button{
    opacity: 1;
  }
}
#misc-container{
  h1{
    text-align: center;
    margin-bottom: 1.5rem;
    span{
      color: rgb(151, 248, 95)
    }
  }
  #illustration-div{
    display:flex;
    .misc-column{
      width: 33%;
      .column-item{
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
#form{
  width: 50%;
  margin: 0 25%;

  input{
    width: 100%;
    height: 1.2rem;
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
  }
  textarea{
    width: 100%;
    height: 5rem;
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
  }
  #contact-submit-btn{
    width: 50%;
    height: 3rem;
    cursor: pointer;
  }
  #contact-submit-btn:hover {
    background-color: rgb(218, 173, 23);
    color: white;
  }
}
#home-container{
  min-height: 85vh;
  background-color:white;
  // background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 21, 47, 0.15)), to(rgba(0, 0, 0, 0.9)));
  // // background-image: linear-gradient(rgba(26, 21, 47, 0.15), rgba(0, 0, 0, 0.9)), url('/assets/ak.jpg');   
  
  // background-image: linear-gradient(rgba(26, 21, 47, 0.15), rgba(0, 0, 0, 0.9));  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  header{
    h1{
      font-size: 2.3rem;
      color: #e6e6e6;
      padding: 0;
      text-decoration: underline;
      text-decoration-color: #f16029;
      font-family: 'Montserrat', 'Avenir Next', sans-serif;
      margin: 0;
      
      #header-underline{
        color: rgb(226, 226, 226);
        font-size: 2.5rem;
        }
      }
    h2{
      color: #ffd088;
      font-family: 'Arvo', serif;
      font-size: 1.6rem;
      padding-top:1.5rem;
    }
  }
  #home-features{
    position: relative;
    #skills-container{
      padding-top: 5%;
      h1{
        position: relative;
        top: 22%;
        font-size: 4rem;
        color: rgba(130, 125, 59, 0.43);
        font-weight: 800;
        left: 0rem;
        margin: 0;
      }
      #skills-list-container{
        display: flex;
        position: relative;
        top: -2rem;
        left: 1rem;
        div{
          width: 25%;
          padding-top: 2rem;
          h2{
            text-decoration: underline;
            text-decoration-color: #ffd088;
            color: #97979c;
          }
          ul{
            list-style: none;
            padding: 0;
            li{
              font-size: 1.2rem;
              font-family: 'Arvo';
              padding: 0.2rem 0;
              color: white;
            }
          }
        }
      }
    }
  }
}


